.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: none;
  color: $white;
  transition: 0.3s;

  &--type {
    &--filled {
      width: 190px;
      height: 60px;
      font-weight: 700;
      background: $yellow;
    }

    &--border {
      width: 190px;
      height: 60px;
      font-weight: 700;
      color: $yellow;
      border: 5px solid $yellow;
    }

    &--transparent {
      padding: 10px 40px;
      font-weight: 600;

      &:hover {
        color: $yellow;
      }
    }
  }
}
