.button {
	&_submit {
		cursor: pointer;
		width: 190px;
		height: 60px;
		border-radius: 4px;
		color: #fff;
		font-weight: bold;
		font-size: 16px;

		&_enabled {
			@extend .button_submit;
			background: #ffbf2b;
			border: none;
		}

		&_disabled {
			@extend .button_submit;
			background: none;
			border: 5px solid #ffbf2b;
		}
	}

	&_home {
		cursor: pointer;
		padding: 10px 40px;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		border: none;
		background: none;
		color: #fff;
	}
}
