* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #f7fbff;
}

.wrapper {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}

@media (min-width: 1281px) {
	.wrapper {
		padding: 0px;
	}
}

@media (min-width: 870px) and (max-width: 1281px) {
	.wrapper {
		padding: 50px;
	}
}

section,
.header {
	margin-bottom: 20px;
}

@media (min-width: 1281px) {
	section,
	.header {
		margin-bottom: 100px;
	}
}

@media (min-width: 870px) and (max-width: 1281px) {
	section,
	.header {
		margin-bottom: 50px;
	}
}

h2 {
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 35px;
	text-align: center;
}

@media (min-width: 870px) {
	h2 {
		text-align: left;
	}
}

li {
	list-style: none;
}

@media (min-width: 870px) and (max-width: 1281px) {
}
