.description {
  @extend %flex-column-between;

  @include media(desktop) {
    flex-direction: row;
  }

  &__information {
    @extend %flex-column-between;
    align-items: center;
    margin-bottom: 35px;

    @include media(desktop) {
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  &__title {
    max-width: 380px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #d5e4f1;
    padding-bottom: 16px;
  }

  &__number {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.015em;
    color: $yellow;
  }

  &__text {
    max-width: 415px;
    margin-right: 25px;
    line-height: 17.5px;

    @include media(desktop) {
      max-width: 370px;
    }
  }

  &__img {
    width: 100vw;
    height: 184px;
    object-fit: cover;
    align-self: center;

    @include media(tablet-desktop) {
      height: 288px;
    }

    @include media(desktop) {
      width: auto;
      height: 100%;
    }
  }
}
