table {
	display: block;
	border-collapse: collapse;
	background-color: #fff;
	text-align: center;
	height: 340px;
	max-width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
}

@media (min-width: 870px) {
	table {
		max-width: 800px;
	}
}

tr {
	border: 1px solid black;
}

td {
	padding: 0 15px;
	max-width: 110px;
	word-wrap: break-word;
}
