.team {
  @extend %flex-column-between;
  align-items: center;
  gap: 30px;

  @include media(desktop) {
    flex-direction: row;
  }

  &__item {
    max-width: 605px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
  }

  &__img {
    width: 100vw;
    object-fit: cover;
    align-self: center;

    @include media(tablet) {
      width: inherit;
    }
  }

  &__text {
    margin-bottom: 20px;
    text-align: start;

    @include media(tablet-desktop) {
      text-align: center;
    }
  }

  &__link {
    color: $blue;
    align-self: flex-end;
    padding-right: 10px;
    border-right: currentColor solid 2px;
  }
}
