@import '../../styles/base/variables';
@import '../../styles/base/placeholders';

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover > .logo__text {
    color: $yellow;
  }

  &:hover > .logo__icon {
    fill: $yellow;
  }

  &__icon {
    fill: $white;
  }

  &__text {
    font-weight: bold;
    @extend %fs-18;
    color: white;
  }
}
