@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/placeholders';

.header {
  background: {
    position: bottom;
    image: url(../../images/screen.png);
    repeat: no-repeat;
  }
  padding: 50px 0;
  display: flex;
  align-items: center;
  height: 740px;

  @media (min-width: 1920px) {
    background-size: cover;
  }

  &__flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media(desktop) {
      flex-direction: row;
    }
  }

  &__info {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;

    @include media(desktop) {
      align-items: flex-start;
      text-align: start;
      margin-bottom: 0;
    }
  }

  &__logo {
    margin-bottom: 25px;
    display: none;

    @include media(tablet) {
      display: block;
    }
  }

  &__title {
    @extend %fs-54;
    letter-spacing: 0.045em;
    margin-bottom: 20px;
  }

  &__description {
    @extend %fs-32;
  }
}
