@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/placeholders';

.footer {
  background: $blue;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  color: $white;

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__links {
    display: flex;
    gap: 90px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
