@import '../../styles/base/variables';
@import '../../styles/base/mixins';

.table {
  display: block;
  border-collapse: collapse;
  background: $white;
  text-align: center;
  max-height: 340px;
  max-width: 100%;
  overflow-y: auto;
  font-size: 12px;

  @include media(desktop) {
    width: 740px;
  }

  tr {
    border: 1px solid black;
  }

  td,
  th {
    padding: 0 15px;
  }
}
