@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/placeholders';

.nav {
  display: flex;
  align-items: center;
  position: relative;
  height: 85px;
  background: $blue;

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dropdown {
    position: absolute;
    bottom: -110px;
    right: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
